{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block mainHeader %}
    <div
        class="text-center bg-image"
        {% if group.image is defined and group.image is not null and group.image.image is not null %}
            style="background-image: url('{{ asset('uploads/' ~ group.image.image) }}'); height: 200px"
        {% endif %}
    >
    </div>

{% endblock %}

{% block body %}

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
        body{font-family: "Poppins", sans-serif;font-weight: 300}
        .card{border:none}
        .ellipsis{color: #a09c9c}
        hr{color: #a09c9c;margin-top: 4px;margin-bottom: 8px}
        .muted-color{color: #a09c9c;font-size: 13px}
        .ellipsis i{margin-top: 3px;cursor: pointer}
        .icons i{font-size: 25px}
        .icons .fa-heart{color: red}
        .icons .fa-smile-o{color: yellow;font-size: 29px}
        .rounded-image{border-radius: 50%!important;display: flex;justify-content: center;align-items: center;height: 50px;width: 50px}
        .name{font-weight: 600}
        .comment-text{font-size: 12px}
        .status small{margin-right: 10px;color: blue}
        .form-control{border-radius: 26px}
        .comment-input{position: relative}
        .fonts{position: absolute;right: 13px;top:8px;color: #a09c9c}
        .form-control:focus{color: #495057;background-color: #fff;border-color: #8bbafe;outline: 0;box-shadow: none}

        .fc-toolbar-chunk{
            font-size: 10px;
        }

        #map { width: 100%; height: 400px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  }
        #calendrier { width: 100%; height: 400px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; padding: 7px; }
    </style>
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4" style="display: flex; justify-content: space-between;">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('group_index') }}">Liste des groupes</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('group_show',{'id': group.id}) }}">{{ group.title }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ evenement.title }}</li>
                        </ol>
                        {% if group.checkIfUserIsMember(app.user) %}
                            <div>
                                {% if group.owner.id is same as(app.user.id) or  is_granted('ROLE_SUPER_ADMIN')%}
                                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}" class="btn btn-secondary ">edition de l'evenement</a>
                                    {{ include('group/_delete_form.html.twig') }}
                                {% endif %}
                            </div>
                        {% endif %}


                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class=" mb-4">
                        <div class="text-center">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                        {% if not evenement.security or (evenement.security and group.checkIfUserIsMember(app.user)) or evement.createdby.id is same as(app.user.id)%}
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-md-11" style=" margin-bottom: 15px;">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>Title</th>
                                            <td>{{ evenement.title }}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td>{{ evenement.description|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Start</th>
                                            <td>{{ evenement.start ? evenement.start|date('Y-m-d H:i:s') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>End_at</th>
                                            <td>{{ evenement.endAt ? evenement.endAt|date('Y-m-d H:i:s') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Security</th>
                                            <td>{{ evenement.security ? 'Yes' : 'No' }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $( document ).ready(function() {
            $(document).find('.commentField').on('keyup', function (e) {
                e.stopImmediatePropagation();
                e.preventDefault();
                if (e.key === 'Enter' || e.keyCode === 13) {
                    var url = $(this).attr('data-url');

                    console.log($(this));
                    console.log($(this).closest('.comment-input'));
                    var container =  $(this).closest('.p-3');
                    var containerComments =  container.find('.comments');

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $(this).serialize(),
                        success: function (data) {
                            console.log(container);
                            containerComments.prepend(data.html);
                            container.find('.countComments').text(data.commentCount + ' commmentaires' );
                        }
                    });
                }
            });
        });

        {% if evenement.place %}
        mapboxgl.accessToken = 'pk.eyJ1IjoicHJlc2xleWRldiIsImEiOiJjbDZjaWxhMWUwNTJ6M2VxaXhxYWF4Z3h6In0.LM5TC2hXXpQUzk8fHrVyKg';
        const mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
        mapboxClient.geocoding
            .forwardGeocode({
                query: '{{ evenement.place.adress ~ ' ' ~ evenement.place.locality ~ ' ' ~ evenement.place.country }}',
                autocomplete: false,
                limit: 1
            })
            .send()
            .then((response) => {
                if (
                    !response ||
                    !response.body ||
                    !response.body.features ||
                    !response.body.features.length
                ) {
                    console.error('Invalid response:');
                    console.error(response);
                    return;
                }
                const feature = response.body.features[0];

                const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: feature.center,
                    zoom: 10
                });

// Create a marker and add it to the map.
                new mapboxgl.Marker().setLngLat(['{{ evenement.place.lng }}', '{{ evenement.place.lat }}']).setPopup(new mapboxgl.Popup().setHTML("<p>{{ evenement.place.adress }}</p>")).addTo(map);
            });
        {% endif %}



    </script>

{% endblock %}

