{% extends 'base.html.twig' %}

{% block title %}GroupCategory index{% endblock %}

{% block body %}
    <h1>GroupCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_category in group_categories %}
            <tr>
                <td>{{ group_category.id }}</td>
                <td>{{ group_category.title }}</td>
                <td>{{ group_category.description }}</td>
                <td>
                    <a href="{{ path('group_category_show', {'id': group_category.id}) }}">show</a>
                    <a href="{{ path('group_category_edit', {'id': group_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_category_new') }}">Create new</a>
{% endblock %}
