'<div class="GROUPE">'
    +'<div class="millefeuille MF-top-part">'
        +'<div class="MF-top-part-LEFT">'
            +'<span class="material-icons">place</span>'
            +'<div>{{place.Adress}} </div>'
            +'</div>'
        +'</div>'
    +'<div class="millefeuille MF-middle-part">'
        +'<div class="MF-middle-part25">'
            +'<div class="part25-left">réunion :</div>'
            +'<div class="part25-right">{{ place.location }}</div>'
            +'</div>'
        +'<div class="MF-middle-part25">'
            +'<div class="part25-left">thème :</div>'
            +'<div class="part25-right"> {{ place.theme }}</div>'
            +'</div>'
        +'<div class="MF-middle-part25">'
            +'<div class="part25-left">fréquence :</div>'
            +'<div class="part25-right"> {{ place.frequence }}</div>'
            +'</div>'
        +'</div>'
    +'<div class="millefeuille MF-bottom-part">'
        +'<div class="MF-bottom-part75">'
            +'<div class="MF-bottom-part75-title">'
                +'<span class="material-icons">groups</span>'
                +'<div>{{ place.title }}</div>'
                +'</div>'
            +'</div>'
        +'<div class="MF-bottom-part25">'
            +'<div class="btn">'
                +'<a href=" {{ path('group_show', {'id': place.groupId}) }}"> voir ce groupe</a>'
                +'</div>'
            +'</div>'
        +'</div>'
    +'</div>'
