{% extends 'base.html.twig' %}

{% block body %}

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4" style="display: flex; justify-content: space-between;">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Liste des utilisateurs</a></li>
                            {% endif %}
                            <li class="breadcrumb-item"><a href="{{ path('user_show', {'id': user.id}) }}">Profil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mes groupes</li>

                        </ol>
                    </nav>


                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ user.lastname ~ ' ' ~ user.firstname }}</h5>
                            <p class="text-muted mb-1">Full Stack Developer</p>
                            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="{{ path('my_groups') }}" class="btn btn-primary">Mes groupes</a>
                                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body text-center">

                            <h5 class="my-3">Verset du jour</h5>
                            <div id="dailyVersesWrapper"></div>
                            <script async defer src="https://dailyverses.net/get/verse.js?language=sg21"></script>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <h5 class="my-3" style="text-align: center">Mes Groupes</h5>
                        <div class="card-body">
                            <div class="row">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nom du groupe</th>
                                        <th>Administrateur</th>
                                        <th>Date de création</th>
                                        <th>Membres</th>
                                        <th>Notifications</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for group in groups %}
                                        <tr>
                                            <td><a href="{{ path('my_groups_request', {'group': group.id}) }}">{{ group.title }}</a></td>
                                            <td>{% if group.owner.firstname %}{{ group.owner.firstname ~ ' ' ~ group.owner.lastname  }}{% else %}{{ group.owner.email }}{% endif %}</td>
                                            <td>{{ group.createdAt | date }}</td>
                                            <td>{{ group.members|length }}</td>
                                            <td>{{ notifications[group.id][1] }}</td>
                                            <td><a href=" {{ path('group_show', {'id': group.id}) }}" class="btn btn-secondary btn-subscription"> Accedez</a></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
