{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}
{% block mainHeader %}
    <div
        id="intro-example"
        class="p-5 text-center bg-image"
        style="background-image: url('https://www.actu-environnement.com/images/illustrations/news/32794_large.jpg');"
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">{{ group.title }}</h1>
                    <h5 class="mb-4">{{ group.description }}</h5>
                    <a
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                        role="button"
                        rel="nofollow"
                        target="_blank"
                    >Start tutorial</a
                    >
                    <a
                        class="btn btn-outline-light btn-lg m-2"
                        href="{{ path('group_new') }}"
                        target="_blank"
                        role="button"
                    >creer un group de maison</a
                    >
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}

    <a href="{{ path('group_blog_post_new', { 'id': group.id}) }}">ajouter un post</a>

    <div class="container">
        <main>
            <h1>List des Post</h1>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for post in group.blogPosts %}
                    <div class="card bg-dark text-white">
                        <img src="{{ asset('uploads/' ~ post.images|first.image) }}" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{ post.name }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <p class="card-text">{{ post.owner.email }} - {{ post.createdAt | date}}</p>
                            <a href=" {{ path('blog_post_show', {'id': post.id}) }}" class="btn btn-primary btn-subscription"> Accedez</a>

                        </div>
                    </div>
                    {#<div class="col">
                        <div class="card h-100">
                            {% if group.image %}
                                <img src="{{ asset('uploads/' ~ group.image.image) }}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.name }}</h5>
                                <p class="card-text">{{ post.description }}</p>
                            </div>
                        </div>
                    </div>#}
                {% endfor %}
            </div>
        </main>
    </div>
    <a href="{{ path('group_index') }}">back to list</a>

    <a href="{{ path('group_edit', {'id': group.id}) }}">edit</a>

    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
