<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Intro settings -->
            <style>
                /* Default height for small devices */
                #intro-example {
                    height: 400px;
                }

                /* Height for devices larger than 992px */
                @media (min-width: 992px) {
                    #intro-example {
                        height: 600px;
                    }
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
            <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

            <script
                id="search-js"
                defer
                src="https://api.mapbox.com/search-js/v1.0.0-beta.12/web.js"
            >
            </script>
            <script>
                const script = document.getElementById('search-js');
                script.onload = function() {
                    mapboxsearch.autofill({
                        accessToken: 'pk.eyJ1IjoicHJlc2xleWRldiIsImEiOiJjbDZjaWxhMWUwNTJ6M2VxaXhxYWF4Z3h6In0.LM5TC2hXXpQUzk8fHrVyKg'
                    }).addEventListener('retrieve', (event) => {
                        const featureCollection = event.detail;
                        console.log(featureCollection.features[0].properties);
                        const lng = featureCollection.features[0].geometry.coordinates[0];
                        const lat = featureCollection.features[0].geometry.coordinates[1];
                        const streetNumber = featureCollection.features[0].properties.address_number;
                        const id = featureCollection.features[0].properties.id;
                        const street = featureCollection.features[0].properties.street;
                        const address_level2 = featureCollection.features[0].properties.address_level2;
                        const address_level1 = featureCollection.features[0].properties.address_level1;
                        const country = featureCollection.features[0].properties.country;
                        const postcode = featureCollection.features[0].properties.postcode;
                        console.log(lng);
                        console.log(lat);
                        console.log(streetNumber);
                        console.log(id);
                        console.log(street);

                        $(document).find('#group_place_lat').val(lat);
                        $(document).find('#group_place_lng').val(lng);
                        $(document).find('#group_place_country').val(country);
                        $(document).find('#group_place_zipCode').val(postcode);
                        $(document).find('#group_place_locality').val(address_level2);
                        $(document).find('#group_place_areaRegion').val(address_level1);
                        $(document).find('#group_place_street').val(street);
                        $(document).find('#group_place_streetNumber').val(streetNumber);
                        $(document).find('#group_place_placeId').val(id);
                        const inputEl = event.target;
// ...
                    });

                };
            </script>

        {% endblock %}
    </head>
    <header>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('group_index')}}">Groupe de maison</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_show',{'id': app.user.id}) }}">Profile</a>
                        </li>
                        <li class="nav-item active">
                            <a class="link" href="{{ path('app_logout') }}">Deconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    <li class="nav-item">

                    <a class="link" href="{{ path('userLogin') }}">Connexion</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Navbar -->

    <!-- Background image -->
    {% block mainHeader %}{% endblock %}

    <!-- Background image -->
    </header>
    <body>
    {% block body %}{% endblock %}


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2020 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Support</a>
            </li>
        </ul>
    </footer>

    </body>
</html>
